body{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(20, 26, 29);
}

.album{
    background-color: rgb(38, 56, 64);
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    width: 170px;
    text-align: center;
}
.container{
    gap: 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.album img{
    height: 150px;
}